*{
  font-family: 'Josefin Sans';
}

html, body{
  height: 100%;
}

.project-img{
  width: 430px;
  margin-bottom: 10px;
}


.intro{
  height: 600px;
}

.mainimg{
  width: 250px;
  height: 250px;
  margin-top: 50px;
  border-radius: 100%;
  border: 4px solid rgb(103, 96, 88);
}

.about-me{
  background-color: rgb(103, 96, 88);
  height: 500px;
}

h1{
  margin: 0;
  font-family: 'Lobster Two';
  margin-top: 50px;
  font-size: 70px;
  font-weight: 300;
  color: rgb(255, 100, 52);
}

h2{
  margin: 0;
  font-size: 50px;
  font-weight: 100;
  color: rgb(27, 162, 148);
}

p{
  font-size: 20px;
}

.about-me-h{
  color: white;
  font-family: 'Lobster Two';
}

.about-me-div{
  margin-top: 5%;
}

.about-me-p{
  font-size: 23px;
  margin-top: 30px;
  color: rgb(217, 214, 197);
}

.fasocial{
  color: rgb(255, 100, 52);
  margin-right: 6px;
}

.fasocial:hover{
  color: rgb(27, 162, 148);
}

/*.projectdiv{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}*/

.projects{
  padding: 0;
  padding-bottom: 100px;
  border: 1px solid black;
  border-radius: 5px;

}

h3{
  font-size: 35px;
  font-family: 'Lobster Two';
  padding-top: 50px;
  padding-bottom: 10px;
  color: rgb(27, 162, 148);
  font-weight: 300;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

ul, li{
  font-size: 20px;
}

a h4:link{
  text-decoration: none;
  font-size: 40px;
 -webkit-margin-before: 0em;
 -webkit-margin-after: 0em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row{
  margin: 0;
}

footer{
  position: fixed;
  width: 100%;
  left:0px;
  bottom:0px;
  height: 50px;
  background: rgb(217, 214, 197) ;
}

.icons{
  width: 150px;
  margin-left: 45%;
  padding-top: 10px;
}
